# Error Team - Database Secret Template
# DO NOT COMMIT ACTUAL SECRETS!
# Create actual secrets using kubectl:
# kubectl create secret generic db-credentials \
#   --from-literal=username=errorteamadmin \
#   --from-literal=password=<YOUR_PASSWORD> \
#   -n errorteam

apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: errorteam
  labels:
    team: error-team
type: Opaque
stringData:
  username: "errorteamadmin"
  password: "CHANGEME"  # Change this!
